<mat-toolbar class="mat-elevation-z4 flex-shrink-0" color="primary">
  <span>{{ title }}</span>

  <a href="https://github.com/reppners/ngx-drag-drop" mat-icon-button>
    <mat-icon svgIcon="github"></mat-icon>
  </a>
</mat-toolbar>

<ng-container *ngIf="activeTab$ | async as activeTab">
  <nav [tabPanel]="tabPanel" mat-tab-nav-bar>
    <a
      *ngFor="let tab of tabs"
      [active]="activeTab === tab"
      (click)="onTabLinkClick(tab)"
      mat-tab-link>
      {{ tab }}
    </a>
  </nav>
</ng-container>

<mat-tab-nav-panel #tabPanel class="flex-grow-1 pt-3 overflow-auto">
  <router-outlet></router-outlet>
</mat-tab-nav-panel>

<mat-divider></mat-divider>

<dnd-demo-link [name]="activeTab$ | async" style="margin: 8px"> </dnd-demo-link>
