<div fxLayout="row"
     class="layout-padding">

  <md-list dndDropzone
           (dndDrop)="onDrop($event, draggableListLeft)">

    <md-list-item dndPlaceholderRef>
      placeholder
    </md-list-item>

    <md-list-item *ngFor="let item of draggableListLeft"
                  [dndDraggable]="item"
                  [dndEffectAllowed]="item.effectAllowed"
                  [dndDisableIf]="item.disable"
                  (dndStart)="onDragStart($event)"
                  (dndCopied)="onDragged(item, draggableListLeft, 'copy')"
                  (dndLinked)="onDragged(item, draggableListLeft, 'link')"
                  (dndMoved)="onDragged(item, draggableListLeft, 'move')"
                  (dndCanceled)="onDragged(item, draggableListLeft, 'none')"
                  (dndEnd)="onDragEnd($event)">
      <md-icon *ngIf="item.handle"
               md-list-icon
               dndHandle>drag_handle
      </md-icon>
      <h1 md-line>{{item.content}}</h1>
      <p md-line>effectAllowed: {{item.effectAllowed}}</p>
    </md-list-item>

  </md-list>

  <md-list dndDropzone
           (dndDrop)="onDrop($event, draggableListRight)">

    <md-list-item dndPlaceholderRef>
      placeholder
    </md-list-item>

    <md-list-item *ngFor="let item of draggableListRight"
                  [dndDraggable]="item"
                  [dndEffectAllowed]="item.effectAllowed"
                  [dndDisableIf]="item.disable"
                  (dndStart)="onDragStart($event)"
                  (dndCopied)="onDragged(item, draggableListRight, 'copy')"
                  (dndLinked)="onDragged(item, draggableListRight, 'link')"
                  (dndMoved)="onDragged(item, draggableListRight, 'move')"
                  (dndCanceled)="onDragged(item, draggableListRight, 'none')"
                  (dndEnd)="onDragEnd($event)">
      <md-icon *ngIf="item.handle"
               md-list-icon
               dndHandle>drag_handle
      </md-icon>
      <h1 md-line>{{item.content}}</h1>
      <p md-line>effectAllowed: {{item.effectAllowed}}</p>
    </md-list-item>

  </md-list>

</div>
