<div fxLayout="row">

  <section fxFlex
           fxLayout="column"
           style="margin-right: 8px;">

    <md-card *ngFor="let draggable of draggables"
             [dndDraggable]="draggable.data"
             [dndEffectAllowed]="draggable.effectAllowed"
             [dndDisableIf]="draggable.disable"
             (dndStart)="onDragStart($event)"
             (dndCopied)="onDragged($event, 'copy')"
             (dndLinked)="onDragged($event, 'link')"
             (dndMoved)="onDragged($event, 'move')"
             (dndCanceled)="onDragged($event, 'none')"
             (dndEnd)="onDragEnd($event)">

      <md-icon *ngIf="draggable.handle"
               md-list-icon
               dndHandle>drag_handle
      </md-icon>

      draggable ({{draggable.effectAllowed}})
      <span [hidden]="!draggable.handle"> only with handle</span>
      <span [hidden]="!draggable.disable"> DISABLED</span>

    </md-card>

    <md-card [dndDraggable]="draggableWithDragImage"
             [dndEffectAllowed]="draggableWithDragImage.effectAllowed"
             [dndDisableIf]="draggableWithDragImage.disable"
             (dndStart)="onDragStart($event)"
             (dndCopied)="onDragged($event, 'copy')"
             (dndLinked)="onDragged($event, 'link')"
             (dndMoved)="onDragged($event, 'move')"
             (dndCanceled)="onDragged($event, 'none')"
             (dndEnd)="onDragEnd($event)">

      <md-icon *ngIf="draggableWithDragImage.handle"
               md-list-icon
               dndHandle>drag_handle
      </md-icon>

      draggable ({{draggableWithDragImage.effectAllowed}})
      <span [hidden]="!draggableWithDragImage.handle"> only with handle</span>
      <span [hidden]="!draggableWithDragImage.disable"> DISABLED</span>

      <div dndDragImageRef>MY_CUSTOM_DRAG_IMAGE</div>

    </md-card>

  </section>

  <section class="my-dropzone"
           dndDropzone
           dndDragoverClass="custom-drag-over"
           (dndDragover)="dragover = $event"
           (dndDrop)="onDrop($event)">
  </section>

</div>
