@import 'node_modules/bootstrap/scss/bootstrap.scss';


.drag-handle {
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  // Important because the material design would overwrite it in the mat-list
  width: 28px !important;
  height: 28px !important;
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;

  height: 100%;
  width: 100%;

  min-height: 100vh;

  display: flex;
  flex: 1;

  background: #fafafa;
}

.layout-padding {
  padding: 8px;
}

.layout-padding > * {
  margin: 8px;
}

.scrollable {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: auto;
}

[dndHandle],
[draggable='true']:not(:has([dndHandle])) {
  cursor: pointer;
}

[draggable].dndDraggableDisabled {
  cursor: not-allowed;
  opacity: 0.7;
}

[dndDropzone] {
  // border: 1px red solid;
  min-width: 200px;
  min-height: 200px;
}

[dndDropzone].dndDropzoneDisabled {
  cursor: no-drop;
  opacity: 0.7;
  border-color: gray;
}

[dndDropzone].dndDragover {
  border-color: green;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
