<md-toolbar color="primary"
            class="mat-elevation-z4">

  <span>{{title}}</span>

  <span fxFlex></span>

  <a md-icon-button
     href="https://github.com/reppners/ngx-drag-drop">
    <md-icon svgIcon="github"></md-icon>
  </a>

</md-toolbar>

<md-tab-group fxFlex
              fxLayout="column">

  <md-tab label="Simple">

    <div fxFlex
         fxLayout="column"
         class="demo-container">

      <dnd-simple></dnd-simple>

      <dnd-demo-link fxFlexAlign="end"
                     name="simple"></dnd-demo-link>

    </div>

  </md-tab>

  <md-tab label="Lists">

    <div fxFlex
         fxLayout="column"
         fxLayoutAlign="center"
         class="demo-container">

      <dnd-list></dnd-list>

      <dnd-demo-link fxFlexAlign="end"
                     name="list"></dnd-demo-link>

    </div>

  </md-tab>

  <md-tab label="Nested">

    <div fxFlex
         fxLayout="column"
         class="demo-container">

      <dnd-nested></dnd-nested>

      <dnd-demo-link fxFlexAlign="end"
                     name="nested"></dnd-demo-link>

    </div>

  </md-tab>

  <md-tab label="Native">

    <div fxFlex
         fxLayout="column"
         class="demo-container">

      <dnd-native></dnd-native>

      <dnd-demo-link fxFlexAlign="end"
                     name="native"></dnd-demo-link>

    </div>

  </md-tab>

  <md-tab label="Typed">

    <div fxFlex
         fxLayout="column"
         class="demo-container">

      <dnd-typed></dnd-typed>

      <dnd-demo-link fxFlexAlign="end"
                     name="typed"></dnd-demo-link>

    </div>

  </md-tab>

</md-tab-group>
