
:host {

  display: block;
  box-sizing: border-box;
}

pre {

  text-align: center;
  padding: 8px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.mat-list-item {

  margin: 2px;
  border: 1px solid gray;
}

.dndList {

  transition: all 300ms ease;

  &.dndDragover {

    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.dndDragging {

  border: 1px solid green;
}

.dndDraggingSource {

  display: none;
}

.dndPlaceholder {

  min-height: 72px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}
