<md-toolbar color="primary"
            class="mat-elevation-z4">
  <span>{{title}}</span>
  <span fxFlex></span>
  <a md-icon-button
     href="https://github.com/reppners/ngx-drag-drop">
    <md-icon svgIcon="github"></md-icon>
  </a>
</md-toolbar>

<md-list fxFlex
         fxLayout="column"
         class="scrollable layout-padding">

  <h1 class="mat-title">Simple</h1>

  <dnd-simple></dnd-simple>

  <md-divider></md-divider>

  <h1 class="mat-title">Lists</h1>

  <dnd-list></dnd-list>

  <md-divider></md-divider>

  <h1 class="mat-title">Nested</h1>

  <dnd-nested></dnd-nested>

  <md-divider></md-divider>

  <h1 class="mat-title">Horizontal</h1>

  <dnd-horizontal-list></dnd-horizontal-list>

  <md-divider></md-divider>

  <h1 class="mat-title">Native</h1>

  <dnd-native></dnd-native>

  <md-divider></md-divider>

  <h1 class="mat-title">Typed</h1>

  <dnd-typed></dnd-typed>

  <md-divider></md-divider>

</md-list>
