
:host {

  display: block;
  box-sizing: border-box;
}

pre {

  text-align: center;
  padding: 8px;
}

.mat-list-item {

  margin: 2px 0;
  border: 1px solid gray;
}

.dndList {

  transition: all 300ms ease;

  padding: 8px;

  overflow-y: auto;

  &.dndDragover {

    padding-top: 12px;
    padding-bottom: 12px;

    border-color: green;
  }
}

.dndDragging {

  border: 1px solid green;
}

.dndDraggingSource {

  display: none;
}

.dndPlaceholder {

  min-height: 48px;
  border: 1px dashed green;
  background-color: rgba(0, 0, 0, 0.1);
}

pre {

  white-space: pre-wrap;
  word-wrap: break-word;
}
