<div class="container-fluid">
  <div class="row gap-3 gap-sm-0">

    <div class="d-flex flex-column col gap-2">
      <mat-card *ngFor="let draggable of draggables"
                [dndDisableIf]="draggable.disable"
                [dndDraggable]="draggable.content"
                [dndEffectAllowed]="draggable.effectAllowed"
                (dndCanceled)="onDragged($event, 'none')"
                (dndCopied)="onDragged($event, 'copy')"
                (dndEnd)="onDragEnd($event)"
                (dndLinked)="onDragged($event, 'link')"
                (dndMoved)="onDragged($event, 'move')"
                (dndStart)="onDragStart($event)">

        <mat-card-content class="d-flex flex-column gap-2">
          <div *ngIf="draggable.handle" dndHandle class="drag-handle">
            <mat-icon fontIcon="drag_handle"
                      mat-list-icon>
            </mat-icon>
          </div>

          draggable ({{draggable.effectAllowed}})
          <span [hidden]="!draggable.handle"> only with handle</span>
          <span [hidden]="!draggable.disable"> DISABLED</span>
        </mat-card-content>

      </mat-card>

      <mat-card [dndDisableIf]="draggableWithDragImage.disable" [dndDraggable]="draggableWithDragImage"
                [dndEffectAllowed]="draggableWithDragImage.effectAllowed"
                (dndCanceled)="onDragged($event, 'none')"
                (dndCopied)="onDragged($event, 'copy')"
                (dndEnd)="onDragEnd($event)"
                (dndLinked)="onDragged($event, 'link')"
                (dndMoved)="onDragged($event, 'move')"
                (dndStart)="onDragStart($event)">

        <mat-card-content class="d-flex flex-column gap-2">
          <div *ngIf="draggableWithDragImage.handle" class="drag-handle">
            <mat-icon dndHandle
                      fontIcon="drag_handle"
                      mat-list-icon>
            </mat-icon>
          </div>

          draggable ({{draggableWithDragImage.effectAllowed}})
          <span [hidden]="!draggableWithDragImage.handle"> only with handle</span>
          <span [hidden]="!draggableWithDragImage.disable"> DISABLED</span>

          <div dndDragImageRef>MY_CUSTOM_DRAG_IMAGE</div>
        </mat-card-content>

      </mat-card>

      <mat-card [dndDisableIf]="draggableWithDragImage.disable" [dndDraggable]="draggableWithDragImage"
                [dndEffectAllowed]="draggableWithDragImage.effectAllowed"
                (dndCanceled)="onDragged($event, 'none')"
                (dndCopied)="onDragged($event, 'copy')"
                (dndEnd)="onDragEnd($event)"
                (dndLinked)="onDragged($event, 'link')"
                (dndMoved)="onDragged($event, 'move')"
                (dndStart)="onDragStart($event)">

        <mat-card-content class="d-flex flex-column gap-2">
          <dnd-indirect-handle></dnd-indirect-handle>

          draggable ({{draggableWithDragImage.effectAllowed}})

          <dnd-indirect-drag-image>I'm the drag image but pssst</dnd-indirect-drag-image>
        </mat-card-content>

      </mat-card>

      <mat-card [dndDisableIf]="draggableWithDragImage.disable" [dndDragImageOffsetFunction]="dragImageOffsetRight"
                [dndDraggable]="draggableWithDragImage"
                [dndEffectAllowed]="draggableWithDragImage.effectAllowed"
                (dndCanceled)="onDragged($event, 'none')"
                (dndCopied)="onDragged($event, 'copy')"
                (dndEnd)="onDragEnd($event)"
                (dndLinked)="onDragged($event, 'link')"
                (dndMoved)="onDragged($event, 'move')"
                (dndStart)="onDragStart($event)">

        <mat-card-content class="d-flex flex-column gap-2">
          <div>
            draggable ({{draggableWithDragImage.effectAllowed}})
          </div>

          <dnd-indirect-handle></dnd-indirect-handle>
        </mat-card-content>

      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dropzone</mat-card-title>
          <mat-card-subtitle>
            <mat-slide-toggle [checked]="dropzoneEnabled"
                              (change)="dropzoneEnabled = $event.checked">Enabled
            </mat-slide-toggle>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <section [dndDisableIf]="!dropzoneEnabled"
                   (dndDrop)="onDrop($event)"
                   class="my-dropzone mt-3 p-2 border rounded"
                   dndDragoverClass="custom-drag-over"
                   dndDropzone>

            <pre *ngIf="lastDropEvent">{{ lastDropEvent | json }}</pre>

          </section>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>
