
:host {
  display: block;
  height: 100%;
}

.my-dropzone {
  transition: all 300ms ease;
}

.custom-drag-over {
  background-color: rgba(0, 0, 0, 0.06);
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
