
:host {

  display: block;
  box-sizing: border-box;
}

mat-card:not(:last-of-type):not(:first-of-type) {

  margin: 8px 0;
}

.my-dropzone {

  padding: 8px;
  transition: all 300ms ease;
}

.custom-drag-over {

  background-color: rgba(0, 0, 0, 0.3);
  border-color: limegreen;
  transform: scale(1.05);
}

pre {

  white-space: pre-wrap;
  word-wrap: break-word;
}
