<div class="container-fluid">

  <ng-template #recursiveList
               let-list>

    <mat-card dndPlaceholderRef
              class="dndPlaceholder bg-light bg-gradient">
    </mat-card>

    <mat-card *ngFor="let item of list"
              class="flex-fill"
              [dndDraggable]="item"
              dndEffectAllowed="move"
              [dndDisableIf]="item.disable"
              (dndStart)="onDragStart($event)"
              (dndCopied)="onDragged(item, list, 'copy')"
              (dndLinked)="onDragged(item, list, 'link')"
              (dndMoved)="onDragged(item, list, 'move')"
              (dndCanceled)="onDragged(item, list, 'none')"
              (dndEnd)="onDragEnd($event)">

      <mat-card-content class="d-flex align-items-center gap-2">
        <div class="drag-handle" *ngIf="item.handle">
          <mat-icon mat-list-icon
                    dndHandle>drag_handle
          </mat-icon>
        </div>

        <div>
          {{item.content}}

          <div *ngIf="item.customDragImage"
               dndDragImageRef>MY_CUSTOM_DRAG_IMAGE
          </div>

          <div *ngIf="item.children"
               class="layout-padding"
               dndDropzone
               (dndDrop)="onDrop($event, item.children)">

            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>

          </div>
        </div>
      </mat-card-content>

    </mat-card>

  </ng-template>

  <div class="d-flex gap-3 "
       dndDropzone
       (dndDrop)="onDrop($event, nestableList)">

    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: nestableList }"></ng-container>

  </div>
</div>
